[submodule ".themes/MediumFox"]
	path = .themes/MediumFox
	url = https://github.com/alexshook/MediumFox
[submodule ".themes/hpstr"]
	path = .themes/hpstr
	url = https://github.com/alexshook/hpstr-theme.git
